<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="okhttp-raise-plugin" version="0.0.1">
    <name>OkhttpRaise</name>

    <description>Raise the okhttp version.</description>
    <license>MIT</license>

    <keywords>cordova,android,okhttp</keywords>
    <repo></repo>
    <issue></issue>
  
    <engines>
        <engine name="cordova" version=">=4.0.0"/>
    </engines>
  
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="OkhttpRaise">
                <param name="android-package" value="com.ossupport.OkhttpRaise"/>
            </feature>
        </config-file>
            
        <framework src="libs/android/build.gradle" custom="true" type="gradleReference" />
            
    </platform>
</plugin>
